@model ViewExplorerModel

<div class="col-md-12">
    <h1>Kendo</h1>
    <div class="col-md-12">
        <p>Hi - <strong id="kendoVersion"></strong></p>
    </div>
    <input id="cmbEmploee" />
</div>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Explorer">test</a>
        </li>
        <li class="nav-item" >
            <a href="Home/testing">testing</a>
        </li>
    </ul>
</div>




