<div class="demo-section k-content">
    @(Html.Kendo().TreeView()
        .Name("treeview-left")
        .BindTo(ViewExplorerModel.GroupedComponents)
        .Events(ev=>ev.Select("onTreeViewselectNode"))
    )
</div>
<script>
    function onTreeViewselectNode(e) {
        var dataItem = e.sender.dataItem(e.node);
        var htmlatr = e.node.attributes["id"].value
        console.log(dataItem);
        console.log(htmlatr);
        $.ajax({
            type: 'POST',
            url: '/Home/SelectedReturn/',
            traditional: true,
            data: { i: dataItem.id, ar: htmlatr},
            datatype: "text",
            //success: function () {
            //    alert("Данные отправлены, Спасибо, ");
            //},
            //error: function () {
            //    alert("Не отправлены " );
            //},
        });
    }
</script>
<style>
    .k-image {
        width: 48px;
        height: 48px;
    }

    .rootfolder { background-position: 0 0; }
    .folder { background-position: 0 -16px; }
    .pdf { background-position: 0 -32px; }
    .html { background-position: 0 -48px; }
    .image { background-position: 0 -64px; }
</style>